<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Mainīt aģentūras</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <img src="static/img/logo.jpg" alt="Company logo" id="logo">
          <li><a href="/">HOME</a></li>
          <li><a href="#" class="active">AĢENTŪRAS</a></li>
          <li><a href="/valstis">VALSTIS</a></li>
          <li><a href="./celojumi">CEĻOJUMI</a></li>
          <li><a href="./stats">STATISTIKA</a></li>
        </ul>
      </nav>
    </div>
    <div class="transmenu">
      <svg>
        <rect width="1000" height="1700"></rect>
      </svg>
    </div>
  </body>
  <script src="static/js/script.js"></script>
</html>