<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Mainīt aģentūras</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="https://flasktemplatervt.dp2gvistins.repl.co/">
            <img src="static/img/logo.jpg" alt="Company logo" id="logo">
          </a>
          <li><a href="/">HOME</a></li>
          <li><a href="#" class="active">AĢENTŪRAS</a></li>
          <li><a href="/valstis">VALSTIS</a></li>
          <li><a href="./celojumi">CEĻOJUMI</a></li>
          <li><a href="./stats">STATISTIKA</a></li>
        </ul>
      </nav>
    </div>

    <div id="input_Fields">
      <input type="text" placeholder="Nosaukums" id="input_Nosaukums_A">
      <input type="text" placeholder="Adrese" id="input_Adrese">
      <button type:"button" onclick="Agentura();" id="button_one_one">Pievienot</button>
    </div>
    <h1 id="aNosaukums">Nosaukums</h1>
  </body>
  <script src="static/js/script.js"></script>
</html>