<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Ceļojumu saraksts</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="https://flasktemplatervt.dp2gvistins.repl.co/">
            <img src="static/img/logo.jpg" alt="Company logo" id="logo">
          </a>
          <li><a href="/">HOME</a></li>
          <li><id= "ag"><a href="/agenturas">AĢENTŪRAS</a></li>
          <li><id= "val"><a href="/valstis">VALSTIS</a></li>
          <li><id= "cel"><a href="#" class="active">CEĻOJUMI</a></li>
          <li><id = "sta"><a href="./stats">STATISTIKA</a></li>
        </ul>
      </nav>
    </div>

    <div class="celojumi">
    <h1>Ceļojuma pievienošana</h1>
    <table>
      <tr>
        <th>Sākuma datums</th>
        <th>Beigu datums</th>
        <th>Valsts (no)</th>
        <th>Valsts (uz)</th>
        <th>Cena</th>
        <th>Pieejamās vietas</th>
        <th></th>
      </tr>
    </table>
    <form action="/" method="POST">
      <input type="text" name="startdate" id="startdate" placeholder="Sākuma datums">
      <input type="text" name="enddate" id="enddate" placeholder="Beigu datums">
      <input type="text" name="countryfrom" id="countryfrom" placeholder="Valsts (no)">
      <input type="text" name="countryto" id="countryto" placeholder="Valsts (uz)">
      <input type="text" name="price" id="price" placeholder="Cena">
      <input type="text" name="rem_spots" id="rem_spots" placeholder="Pieejamās vietas">
      <input type="submit" value="Saglabāt">
    </form>
    </div>
  </body>
  <script src="static/js/script.js"></script>
</html>