<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Galvenā lapa</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <img src="static/img/logo.jpg" alt="Company logo" id="logo">
          <li><a href="/" class= "active">HOME</a></li>
          <li><id= "ag"><a href="/agenturas">AĢENTŪRAS</a></li>
          <li><id= "val"><a href="/valstis">VALSTIS</a></li>
          <li><id = "cel"><a href="./celojumi">CEĻOJUMI</a></li>
          <li><id = "sta"><a href="./stats">STATISTIKA</a></li>
        </ul>
      </nav>
    </div>
  </body>
  <script src="static/js/script.js"></script>
</html>