<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Statistika</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="https://flasktemplatervt.dp2gvistins.repl.co/">
            <img src="static/img/logo.jpg" alt="Company logo" id="logo">
          </a>
          <li><a href="/">HOME</a></li>
          <li><id= "ag"><a href="/agenturas">AĢENTŪRAS</a></li>
          <li><id= "val"><a href="/valstis">VALSTIS</a></li>
          <li><id = "cel"><a href="./celojumi">CEĻOJUMI</a></li>
          <li><id= "sta"><a href="#" class="active">STATISTIKA</a></li>
        </ul>
      </nav>
    </div>
  </body>
  <script src="static/js/script.js"></script>
</html>