<!DOCTYPE html>
<html>

<head>
	<title>Admin | Valstis</title>
	<link href="static/css/style.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<nav>
			<ul>
				<a href="https://flasktemplatervt.dp2gvistins.repl.co/">
					<img src="static/img/logo.jpg" alt="Company logo" id="logo">
          </a>
          <li><a href="/">HOME</a></li>
          <li><id= "ag"><a href="/agenturas">AĢENTŪRAS</a></li>
          <li><id= "val"><a href="#" class="active">VALSTIS</a></li>
          <li><id = "cel"><a href="./celojumi">CEĻOJUMI</a></li>
          <li><id = "sta"><a href="./stats">STATISTIKA</a></li>
        </ul>
      </nav>
    </div>
    <div class="valstis">
    <h1>Valsts pievienošana</h1>
    <table>
      <tr>
        <th>Nosaukums</th>
        <th>Saīsinājums</th>
        <th>Pievienots</th>
      </tr>
    </table>
    <form action="/" method="POST">
      <input type="text" name="name" id="name" placeholder="Valsts nosaukums">
      <input type="text" name="abbr" id="abbr" placeholder="Valsts saīsinājums">
      <input type="submit" value="Saglabāt">
    </form>
    {% for country in countries %}
        <tr>
          <td> {{ country.content }} </td>
          <td>
            <a href="">Mainīt</a>
            <br>
            <a href="">Dzēst</a>
          </td>
        </tr>
      {% endfor %}
    </div>
  </body>  
  </body>
  <script src="static/js/script.js"></script>
</html>